<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScreenSavvy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScreenSavvy.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="left-hand-side-container">
            <div class="flow-home">
                <a href="/home"><span class="material-icons">home</span></a>
                <a href="/home">Home</a>
            </div>
            <div class="flow-admin">
                <a asp-controller="Movies" asp-action="Create"><span class="material-symbols-outlined">add</span></a>
                    <a asp-controller="Movies" asp-action="Create">Add a movie</a>
                <a asp-controller="Genres" asp-action="Create"><span class="material-symbols-outlined">add</span></a>
                <a asp-controller="Genres" asp-action="Create">Add a genre</a>
            </div>
        </div>
        <div class="right-panel">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
