@model IEnumerable<MovieDetailsVM>
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="movies-container">
      @* @foreach (var item in Model)
        {
         <div class="heading">
          <h2>@item.MovieDetails.Title</h2>
         </div>
        } *@
    </div>
</div>